.icon:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.icon-name{
    padding-top: 40px;
}
.famms{
    height: 30px;
    width: 140px;
}
.coffee{
    height: 55px;
    margin-top: 20px;
    border-radius: 50px;
    cursor: pointer;
}
.coffee:hover{
    opacity: 80%;
    transition: 0.3s;
}